<p id="notice"><%= notice %></p>

<% if !@page_title %>
  <h1>Listing Open Activities</h1>
<% else %>
  <h1><%= @page_title %></h1>
<% end %>

<br>
<% if request.path == activities_path %>
  <%= link_to 'See completed activities', completed_activities_path %>
<% else %>
  <%= link_to 'See open activities', activities_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.location %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
