<p id="notice"><%= notice %></p>

<h1><%= @activity.name %></h1>

<p><%= @activity.description %></p>

<p>Location: <%= @activity.location %></p>
<p>Type: <%= @activity.activity_type %></p>

<% if @activity.completed_at %>
<p><strong>This activity was completed on <%= @activity.completed_at.to_date.to_s(:long) %>.</strong></p>
<% end %>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
